<nav class="navbar is-link is-fixed-top is-hidden-print">
  <div class="container">
    <div class="navbar-brand">
      <a href="/" class="navbar-item is-size-4 has-text-weight-semibold">
        klifter &#128640;
      </a>
      <span class="navbar-burger" data-target="klifter-nav-menu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>

    <div class="navbar-menu" id="klifter-nav-menu">
      <div class="navbar-end">
        <a href="/docs/" class="navbar-item">Documentation</a>
        <span class="navbar-item">
          <a href="{{ .Site.Params.Github }}" class="button is-link is-inverted">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Download</span>
          </a>
        </span>
      </div>
    </div>
  </div>
</nav>